@font-face {
  font-family: 'Fantasque Sans Mono';
  src:
      local('Fantasque Sans Mono'),
      url('/assets/fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
      url('/assets/fonts/FantasqueSansMono-Regular.woff') format('woff'),
      url('/assets/fonts/FantasqueSansMono-Regular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src:
      local('Fantasque Sans Mono'),
      url('/assets/fonts/FantasqueSansMono-Bold.woff2') format('woff2'),
      url('/assets/fonts/FantasqueSansMono-Bold.woff') format('woff'),
      url('/assets/fonts/FantasqueSansMono-Bold.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
}
