:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

    --font-serif: 'Noto Serif', serif;
    --font-sans-serif: 'Lato', sans-serif;
    --font-monospace:  'Fantasque Sans Mono', monospace;

    --color-dark-primary:   #1b2b34;
    --color-dark-secondary: #172830;
    --color-red:   #ff6347;
    --color-green: #98fb98;
    --color-yellow: #ebcb8b;
    --color-blue:   #87ceeb;
    --color-cyan: #40e0d0;
    --color-comment: #afafaf;

    --max-width: 10in;
    --padding-horizontal: .5rem;
}

body {
    background: var(--color-dark-primary);
    color: #ffffff;
    font-family: var(--font-sans-serif);
    min-height: 100vh;
    margin-left: 30ch;
}

#preamble {
    background: var(--color-dark-secondary);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30ch;
}

#preamble .container {
    height: 100%;
    width: 100%;
    font-family: var(--font-monospace);
}

#preamble .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}

#preamble .user-info img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#preamble .user-name {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0;
    padding: .2em;
}

#preamble nav ul {
    list-style: none;
    margin: 0;
    padding: .2em;
}

#preamble nav li  {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.4;
}

#preamble nav li a {
    display: block;
    width: 100%;
    color: white;
    font-weight: bolder;
}

#preamble nav li a:hover {
    background: #457b9d;
}

#toggler {
    display: none;
    width: 2em;
    height: 2em;
    background: url(/assets/img/menu.svg) 50% no-repeat;
    background-size: 2em;
    vertical-align: middle;
    cursor: pointer;
    z-index: 100;
    transition: all .45s;
}

@media all and (max-width: 900px) {
    body { margin: 0; }
    #preamble .user-info img { display: none; }
    #preamble { position: static; width: 100%; }
    #preamble .container {
	max-width: var(--max-width);
    }
    .user-name {
	display: block;
	flex-basis: 1;
    }
    #preamble .user-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    }
    #preamble nav {
	display: none;
    }
    #toggler  { display: unset; }
}

@media all and (max-width: 550px)
{ .org-ul li span.timestamp {display: block;} }

#content {
    max-width: var(--max-width);
    margin: 0;
    padding: var(--padding-horizontal);
    min-height: 80vh;
}

#postamble {
    max-width: var(--max-width);
    margin: 0;
    margin-top: 1.75em;
    padding: 0 var(--padding-horizontal);
    color: var(--color-comment);
    font-size: .8rem;
    text-align: center;
    border-top: 2px dotted var(--color-comment);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-yellow);
    font-family: var(--font-serif);
}

.title {
    font-size: 1.95em;
    margin: .6em 0;
}

.subtitle {
    font: italic normal 300 1.2em var(--font-sans-serif, serif);
}

#content > header:first-child {
    margin-bottom: 3.5em;
}

a {
    color: var(--color-blue);
    text-decoration: none;
}
a:visited {
    color: var(--color-blue);
}
a:hover, a:visited:hover {
    text-decoration: underline;
}

code {
    background: var(--color-dark-secondary);
    color: var(--color-yellow);
    font: 0.96em var(--font-monospace, monospace);
    padding: .125em .2em;
    border-radius: 8px;
}
.org-src-container { position: relative; }

pre {
    background: var(--color-dark-secondary);
    font-family: var(--font-monospace);
    font-size: 0.95em;
    overflow: auto;
    margin: 1.2em 0;
    padding: 1rem 1.25rem;
}
pre.src {
    padding-top: 1.2rem;
    border-radius: 10px;
}

.copy-btn {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
    background: url(/assets/img/copybtn-dark.svg) 50% no-repeat;
    background-position: 61% 45%;
    background-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    width: 33px;
    margin: 0;
    padding: 6px;
    vertical-align: middle;
    z-index: 100;
}
.org-src-container:hover .copy-btn { display: block;  };
/* For syntax highlighting in source code blocks */
.org-builtin { color: #EC5f67; }
.org-comment { color: #65737E; font-style: italic; }
.org-comment-delimiter { color: #65737E; font-style: italic; }
.org-constant { color: #F99157; }
.org-doc { color: #8b969e; font-style: italic; }
.org-function-name, .org-css-selector { color: #6699CC; }
.org-keyword { color: #C594C5; }
.org-regexp-grouping-backslash { color: #5FB3B3; font-weight: bold; }
.org-regexp-grouping-construct { color: #5FB3B3; font-weight: bold; }
.org-string, .org-css-property { color: #99C794; }
.org-type { color: #FAC863; }
.org-preprocessor { color: #5FB3B3; font-weight: bold; }
.org-variable-name { color: #F99157; }
.org-warning { /* font-lock-warning-face */ color: #ff0000; font-weight: bold; }

/* Org keywords and tags */
.todo, .done, .priority {
    font-family: monospace;
    font-weight: bold;
}
li { padding: 0 };
.todo { color: var(--color-red); }
.done { color: var(--color-green); }
.priority { color: var(--color-yellow); }
.tag {
    background-color: #efefef;
    font-family: monospace;
    font-size: 80%;
    font-weight: normal;
    padding: 2px;
}
.org-ul {
    list-style: none;
    padding: 0;
}
.org-ul li {
    padding: .5em;
}
.timestamp {
    color: #bebebe;
    margin-right: 2ch;
    font-size: .8em;
}
.timestamp-kwd {
    font-family: var(--font-monospace);
    color: #5f9ea0;
}
.org-right  {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}
.org-left {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}
.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.underline {
    text-decoration: underline;
}
/* Tables */
table {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    border: 0;
}
tbody tr:nth-of-type(even) { background: var(--color-dark-primary); }
tbody tr:nth-of-type(odd)  { background: var(--color-dark-secondary); }
td, th { vertical-align: top; }
th.org-right, th.org-left, th.org-center { text-align: center; }
td.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
dt { font-weight: bold; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure   { padding: 1em; }
.figure p { text-align: center; }
.figure img { max-width: 100%;  }
.equation-container {
    display: table;
    text-align: center;
    width: 100%;
}
.equation { vertical-align: middle; }
.equation-label {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
textarea { overflow-x: auto; }
.linenr { font-size: smaller; }
#org-div-home-and-up {
    text-align: right;
    font-size: 70%;
    white-space: nowrap;
}
.code-highlighted { background-color: var(--color-yellow); }
.org-info-js_info-navigation { border-style: none; }
.org-info-js_search-highlight {
    background-color: var(--color-yellow);
    color: #000000;
    font-weight: bold;
}
#org-info-js_console-label {
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
}
.org-svg { width: 90%; }
/* Images */
.figure img {
    display: block;
    max-width: 100%;
}
blockquote {
    background: var(--color-dark-secondary);
    font-style: italic;
    margin: 0;
    border-left: 4px solid var(--color-green);
    border-radius: 5px;
}
blockquote p {
    margin: 0;
    padding: .5em .8em;
}
blockquote p::before { content: '\201C'; }
blockquote p::after  { content: '\201D'; }
p { line-height: 1.4; }
p.verse { margin-left: 3%; }
#table-of-contents {
    line-height: 1.6;
}
